{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="/upload">Upload video</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/download">Upload from server</a>
    </li>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search_string" placeholder="Search" aria-label="Search" name="search_string">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/" formmethod="get">Search</button>
      </form>

    <li class="navbar-right">
        <a class="nav-link" href="/logout">Logout</a>
    </li>
{% endblock %}

{% block style %}

{% endblock style %}

{% block content %}
    <h2>Videos</h2>
    <table  class="table">
    {% for video in videos %}
        <tr>
            <th class="container">
                <div class="text-primary">{{ video.video_title }}</div>
            </th>
            <th class="text-info">Owner: {{ video.user_id }}</th>
            <th class="container">
                <form method=get action="{{ url_for('playback', video=video.id ) }}">
                    <button class="btn btn-success" type="submit">Watch now!</button>
                </form>
            </th>
        </tr>
    {% endfor %}
    </table>
{% endblock content%}
