{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/login_page.css"/>
{% endblock style %}

{% block content %}
    <h2>Thank you for registering!</h2>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Login Form -->
            <form>
                <label for="username"></label><input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
                <label for="password"></label><input type="password" id="password" class="fadeIn second" name="password" placeholder="password">
                <input type="submit" class="fadeIn third" value="Register" formmethod="post" formaction="/register">
            </form>
        </div>
    </div>
{% endblock %}
