{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/login_page.css"/>
{% endblock style %}

{% block content %}
    <div class="wrapper fadeInDown">

        <div id="formContent">
            <!-- Login Form -->
            <div id="message">
                <p>Please fill out the following fields and submit to complete your registration</p>
            </div>
            <form>
                <label for="username"></label><input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
                <label for="password"></label><input type="password" id="password" class="fadeIn second" name="password" placeholder="password">
                <input type="submit" class="fadeIn third" value="Register" formmethod="post" formaction="/register">
            </form>
{#            {% from "_formhelpers.html" import render_field %}#}
{#            <form method=post action="/search">#}
{#                <dl>#}
{#                    {{ render_field(form.username) }}#}
{#                    {{ render_field(form.email) }}#}
{#                    {{ render_field(form.password) }}#}
{#                    {{ render_field(form.confirm) }}#}
{#                </dl>#}
{#                <p><input type=submit value=Search>#}
{#            </form>#}
        </div>
    </div>
{% endblock %}
